# Using Python to Interact with a SQL Database

In [14]:
# https://docs.python.org/3/library/sqlite3.html
import sqlite3

print(sqlite3.version_info)

(2, 6, 0)

In [12]:
# open a connection to the dbase
connection = sqlite3.connect('jeopardy.db')
print(type(connection))

<class 'sqlite3.Connection'>

In [4]:
# methods available - e.g. close, commit, cursor, execute
print(dir(connection))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [6]:
# cursor - represents where we are currently with a specific query to the database
cursor = connection.cursor()
print(type(cursor))

<class 'sqlite3.Cursor'>

In [8]:
# methods available on cursor
print(dir(cursor))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'close', 'connection', 'description', 'execute', 'executemany', 'executescript', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'row_factory', 'rowcount', 'setinputsizes', 'setoutputsize']

In [11]:
cursor.execute('SELECT * FROM category LIMIT 5')
print(cursor.fetchall())

[(1, 'DETECTIVE FICTION', 1, 0, 0), (2, 'THE OLD TESTAMENT', 2, 0, 0), (3, 'ASIAN HISTORY', 4, 0, 0), (4, 'RIVER SOURCES', 5, 0, 0), (5, 'WORLD RELIGION', 3, 0, 0)]

In [18]:
cursor.execute('SELECT * FROM clue LIMIT 5')
print(cursor.fetchall())

[(1, 'The original author’s last story about this detective was “The Adventure of Shoscombe Old Place”', 1, 1, 200, 'Sherlock Holmes', 0, 1), (2, 'In “The Big Sleep” he says, “I’m 33 years old, went to college once & can still speak English if there’s any demand for it”', 1, 1, 400, 'Marlowe', 0, 2), (3, 'In the April 1841 Graham’s Lady’s and Gentleman’s Magazine, this editor published his new detective story', 1, 1, 600, 'Poe', 0, 3), (4, "Let's all flock to read Psalm 95, in which humans are compared to these animals", 2, 2, 200, 'sheep', 0, 1), (5, 'Some say the screech owl in the King James Bible is Lilith, the name given his legendary first wife', 2, 2, 400, 'Adam', 0, 2)]

In [10]:
# query the database
cursor.execute('SELECT name from category LIMIT 10')
results = cursor.fetchall()
print(results) # returns a list of tuples conaining the name

[('DETECTIVE FICTION',), ('THE OLD TESTAMENT',), ('ASIAN HISTORY',), ('RIVER SOURCES',), ('WORLD RELIGION',), ('SEAN SONG',), ('ANIMATED MOVIES',), ('NEW YORK CITY',), ('AFRICAN WILDLIFE',), ('LITTLE RED RIDING HOOD',)]

In [19]:
# to retrieve the actual string value for the 1st tuple
category = results[0][0]
category

'DETECTIVE FICTION'

In [22]:
# retrieve all results
categories = [cat[0] for cat in results]
categories

['DETECTIVE FICTION',
 'THE OLD TESTAMENT',
 'ASIAN HISTORY',
 'RIVER SOURCES',
 'WORLD RELIGION',
 'SEAN SONG',
 'ANIMATED MOVIES',
 'NEW YORK CITY',
 'AFRICAN WILDLIFE',
 'LITTLE RED RIDING HOOD']

In [23]:
# close the connection when we're done
connection.close()