# Python

## 1. Functions

* can pass arguments in any order as long as they are named.

* can return more than on value by using a tuple, or by separating them wth a comma

* can define defaults

* any defined parameters must be passed.

* primitive values are passed as copies, objects are passed as copies of the reference (points to the same obj).

* we can pass args as `keyword arguments`, refer to the arg name **when we're calling the function**

* we can mix keyword arguments with positional arguments as long as they are in order.

* functions have scope, variables defined within a function are not available outside of it. Variables defined outside are accessible inside a function. Variables defined in the scope of a file are global, accessible to all functions.

* functions look in their own scope for variables, then outside.

* nested functions follow the scope chain when accessing variables, look in the nested function, then enclosing function then the global scope.

In [1]:
def my_fnc(val1=1, val2=1, val3=1):
    return (val1 * val2, val1 + val2 + val3)

In [2]:
def fnc(val1,val2, val3):
    return (val1,val2,val3)

In [3]:
my_fnc(2,3)

(6, 6)

In [4]:
a, b = my_fnc(val3=10, val1=0, val2=5)
print(a,b)

0 15

In [5]:
my_fnc(5, val3=2) # works here due to default value for val2

(5, 8)

In [6]:
try:
    fnc(5,val3=2)
except Exception as error:
    print(error)

fnc() missing 1 required positional argument: 'val2'

Passing keyword arguments and positional arguments out of order raises a syntax error.

```py
fnc(5, val=3, 5) # => SyntaxError
```

In [7]:
def another_fn(a=3, b=4, c=5):
    print('a:{}, b:{}, c:{}'.format(a,b,c))

try:
    another_fn(5, a=10)
except TypeError as error:
    print(error)

another_fn() got multiple values for argument 'a'

### Flexible number of arguments

Use `*args` to define a function that accepts any number arguments. The interpreter assigns the arguments to a tuple that can be iterated over.

In [8]:
def fn_args(*args):
    nums = []
    for num in args:
        nums.append(num)
    return nums

fn_args(3,1,5,2,7,8)

[3, 1, 5, 2, 7, 8]

Use `**kwargs` to pass any number of keyword arguments to a function, which are converted into a dict of key value pairs that can be iterated over using `.items()`.

In [9]:
def fn_kwargs(**kwargs):
    for key, value in kwargs.items():
        print('key: {}, value:{}'.format(key, value))
        
fn_kwargs(a=3, b=4, c=5)

key: a, value:3
key: b, value:4
key: c, value:5

### Function Scope

In [10]:
def fn_one(val):
    value = val
    return value

fn_one(5)

5

In [11]:
try:
    print(value)
except NameError:
    print('Variable not accessible')

Variable not accessible

In [12]:
try:
    print(val)
except NameError:
    print('Variable not accessible')

Variable not accessible

To alter a `global` variable inside a function, use the `global` keyword.

In [13]:
val = 10

def fn_two(value):
    val = value # declares local variable 'val' and assigns it the value 'value'
    return val

print(fn_two(5))
print(val)

5
10

In [14]:
def fn_three(value):
    global val
    val = value
    return val

print(fn_three(5))
print(val)

5
5

Nested functions, used for closures, use the `nonlocal` keyword to change variables in enclosing functions.

In [15]:
def outer():
    n = 5
    
    def inner():
        print(n)
    inner()   

outer()

5

In [16]:
def outer():
    m = 10
    n = 5
    
    def inner():
        m = 20 # defines variable local to 'inner'
        nonlocal n # access 'n' in enclosing scope
        n = 10
        
    inner()
    print(m,n)
outer()

10 10

## 2. Lists

### Enumerate

When you need the `index`, generates a series of tuples. You can include the `start` value, which changes the value of the index, NOT the values yielded.

In [17]:
l_obj = list('abcdef')
for index, value in enumerate(l_obj):
    print('index:{}, value:{}'.format(index, value))

index:0, value:a
index:1, value:b
index:2, value:c
index:3, value:d
index:4, value:e
index:5, value:f

In [18]:
for i, v in enumerate(l_obj, start=3):
    print('index:{}, value:{}'.format(i,v))

index:3, value:a
index:4, value:b
index:5, value:c
index:6, value:d
index:7, value:e
index:8, value:f

### Join

Concatanate list contents (or string) into a string.

In [19]:
''.join(l_obj)

'abcdef'

In [20]:
'*'.join(l_obj)

'a*b*c*d*e*f'

In [21]:
' '.join('hello!')

'h e l l o !'

### In

Check if a value exists in a list. Returns a boolean.

In [22]:
print('s' in l_obj)
print('a' in l_obj)

False
True

### Slicing

General Syntax:

```py
list[start:end]

list[:end]

list[start:]

list[start:end:step]

list[start:end:-1] # reverse direction
```

In [23]:
lst = l_obj[:] # copy
lst

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
lst[-4:] # start 4th from end, go to end

['c', 'd', 'e', 'f']

In [25]:
lst[-3::-1] # start 3rd from end, reverse direction

['d', 'c', 'b', 'a']

In [26]:
lst[::-1] # reverse list copy

['f', 'e', 'd', 'c', 'b', 'a']

In [27]:
lst[4] = 42 # re-assign (replace) a single list item
lst

['a', 'b', 'c', 'd', 42, 'f']

In [28]:
lst[1:3] = [3,4,5,6,7,8] # replace multiple list items
lst

['a', 3, 4, 5, 6, 7, 8, 'd', 42, 'f']

### Del

Remove an item(s) from a list given a value(s). Operates **inplace**.

In [29]:
del lst[2]
lst

['a', 3, 5, 6, 7, 8, 'd', 42, 'f']

In [30]:
del lst[5:8] # upto, but not including the last element
lst

['a', 3, 5, 6, 7, 'f']

### Sorted

Takes list as an argument and returns new list. Optional `reverse=True` argument.

Does NOT support string, numerical mix.

In [56]:
try:
    rev_lst = sorted(lst, reverse=True)
except Exception as error:
    print(error)

'<' not supported between instances of 'str' and 'int'

### Zip

Combine two or more lists into a zip obj, which can be converted into a list using the `list` function. 

* Elements are combined element-wise into a list of tuples.

* Length of the list is limited to the length of the shortest list passed to `zip`.

In [57]:
lst1 = list('abcdef')
lst2 = list('1234567890')
lst3 = list('lmnopqrstuvwxyz')
list(zip(lst1, lst2, lst3))

[('a', '1', 'l'),
 ('b', '2', 'm'),
 ('c', '3', 'n'),
 ('d', '4', 'o'),
 ('e', '5', 'p'),
 ('f', '6', 'q')]

### Range

Generate a list of consecutive numbers.

* single argument, starts at 0, returns a range upto but not including the input number.

* define a starting point by using two arguments.

* define a step by passing a third argument.

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list(range(4,12))

[4, 5, 6, 7, 8, 9, 10, 11]

In [60]:
list(range(4,12,3))

[4, 7, 10]

In [63]:
list(range(0,len(lst3),5))

[0, 5, 10]

## List Methods

### Append

Add a single elements to the end of a list, can be any Python datatype.

* takes only a single argument (raises a SyntaxError), returns `None`.

* mutates the list

In [31]:
lst

['a', 3, 5, 6, 7, 'f']

In [32]:
lst.append(list('qrstuv'))
lst.append(list('qrstuv'))
lst

['a',
 3,
 5,
 6,
 7,
 'f',
 ['q', 'r', 's', 't', 'u', 'v'],
 ['q', 'r', 's', 't', 'u', 'v']]

### Count

Count the number of times a particular item is found in the list, otherwise return `0`.

In [33]:
lst.count('r')

0

In [34]:
lst.count(list('qrstuv'))

2

In [35]:
del lst[-2:]
lst

['a', 3, 5, 6, 7, 'f']

### Index

Return the index of 1st occurence of the element, otherwise raise an exception.

In [36]:
lst.append(6)
print(lst)

try:
    print(lst.index(6))
except exception as error:
    print(error)

['a', 3, 5, 6, 7, 'f', 6]
3

In [37]:
try:
    lst.index(9)
except Exception as error:
    print(error)

9 is not in list

### Sort

Sorts list (numerical or alphabetical) **inplace**, returns `None`.

In [38]:
try:
    lst.sort()
except Exception as error:
    print(error)

'<' not supported between instances of 'int' and 'str'

In [39]:
str_lst = list('eArgwqEpjDdnbSeaas')
try:
    print(str_lst.sort())
except Exception as error:
    print(error)
    
print(str_lst)

None
['A', 'D', 'E', 'S', 'a', 'a', 'b', 'd', 'e', 'e', 'g', 'j', 'n', 'p', 'q', 'r', 's', 'w']

### Plus (+)

Concat two or more lists, any length and datatype. Returns a new list.

In [45]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,0]
lst1 + lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [46]:
lst3 = [lst1] + [lst2] # concat 2 nested lists
lst3

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]]

### Insert

Insert an item at a given position, 1st arg is the index, 2nd the item. Operates **inplace**.

In [47]:
lst3.insert(1,list('abcdef'))
lst3

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e', 'f'], [6, 7, 8, 9, 0]]

### Remove

Remove 1st occurrence of an item, raises an exception if the item does not exist. Operates **inplace**, operation returns `None`.

In [48]:
try:
    lst1.remove(6)
except Exception as error:
    print(error)

list.remove(x): x not in list

In [49]:
lst4 = list('abcdecfe')
lst4.remove('e')
lst4

['a', 'b', 'c', 'd', 'c', 'f', 'e']

### Pop

Removes last element if no argument is supplied, otherwise removes item for supplied index. 

Operates **inplace**, returns item.
Raises an exception if the index is out of range.

In [50]:
print(lst4.pop())
lst4

e

['a', 'b', 'c', 'd', 'c', 'f']

In [52]:
print(lst4.pop(4))
lst4

c

['a', 'b', 'c', 'd', 'f']

**Clear** - Removes all items from a list.

**Reverse** - Reverse items in a list, operates **inplace**.

**Copy** - shallow copy a list.