# Python

## 1. Functions

* can pass arguments in any order as long as they are named.

* can return more than on value by using a tuple, or by separating them wth a comma

* can define defaults

* any defined parameters must be passed.

* primitive values are passed as copies, objects are passed as copies of the reference (points to the same obj).

* we can pass args as `keyword arguments`, refer to the arg name **when we're calling the function**

* we can mix keyword arguments with positional arguments as long as they are in order.

* functions have scope, variables defined within a function are not available outside of it. Variables defined outside are accessible inside a function. Variables defined in the scope of a file are global, accessible to all functions.

* functions look in their own scope for variables, then outside.

* nested functions follow the scope chain when accessing variables, look in the nested function, then enclosing function then the global scope.

In [1]:
def my_fnc(val1=1, val2=1, val3=1):
    return (val1 * val2, val1 + val2 + val3)

In [2]:
def fnc(val1,val2, val3):
    return (val1,val2,val3)

In [3]:
my_fnc(2,3)

(6, 6)

In [4]:
a, b = my_fnc(val3=10, val1=0, val2=5)
print(a,b)

0 15

In [5]:
my_fnc(5, val3=2) # works here due to default value for val2

(5, 8)

In [6]:
try:
    fnc(5,val3=2)
except Exception as error:
    print(error)

fnc() missing 1 required positional argument: 'val2'

Passing keyword arguments and positional arguments out of order raises a syntax error.

```py
fnc(5, val=3, 5) # => SyntaxError
```

In [7]:
def another_fn(a=3, b=4, c=5):
    print('a:{}, b:{}, c:{}'.format(a,b,c))

try:
    another_fn(5, a=10)
except TypeError as error:
    print(error)

another_fn() got multiple values for argument 'a'

### Flexible number of arguments

Use `*args` to define a function that accepts any number arguments. The interpreter assigns the arguments to a tuple that can be iterated over.

In [8]:
def fn_args(*args):
    nums = []
    for num in args:
        nums.append(num)
    return nums

fn_args(3,1,5,2,7,8)

[3, 1, 5, 2, 7, 8]

Use `**kwargs` to pass any number of keyword arguments to a function, which are converted into a dict of key value pairs that can be iterated over using `.items()`.

In [9]:
def fn_kwargs(**kwargs):
    for key, value in kwargs.items():
        print('key: {}, value:{}'.format(key, value))
        
fn_kwargs(a=3, b=4, c=5)

key: a, value:3
key: b, value:4
key: c, value:5

### Function Scope

In [10]:
def fn_one(val):
    value = val
    return value

fn_one(5)

5

In [11]:
try:
    print(value)
except NameError:
    print('Variable not accessible')

Variable not accessible

In [12]:
try:
    print(val)
except NameError:
    print('Variable not accessible')

Variable not accessible

To alter a `global` variable inside a function, use the `global` keyword.

In [13]:
val = 10

def fn_two(value):
    val = value # declares local variable 'val' and assigns it the value 'value'
    return val

print(fn_two(5))
print(val)

5
10

In [14]:
def fn_three(value):
    global val
    val = value
    return val

print(fn_three(5))
print(val)

5
5

Nested functions, used for closures, use the `nonlocal` keyword to change variables in enclosing functions.

In [15]:
def outer():
    n = 5
    
    def inner():
        print(n)
    inner()   

outer()

5

In [16]:
def outer():
    m = 10
    n = 5
    
    def inner():
        m = 20 # defines variable local to 'inner'
        nonlocal n # access 'n' in enclosing scope
        n = 10
        
    inner()
    print(m,n)
outer()

10 10

## 2. Lists

### Enumerate

When you need the `index`, generates a series of tuples. You can include the `start` value, which changes the value of the index, NOT the values yielded.

In [17]:
l_obj = list('abcdef')
for index, value in enumerate(l_obj):
    print('index:{}, value:{}'.format(index, value))

index:0, value:a
index:1, value:b
index:2, value:c
index:3, value:d
index:4, value:e
index:5, value:f

In [18]:
for i, v in enumerate(l_obj, start=3):
    print('index:{}, value:{}'.format(i,v))

index:3, value:a
index:4, value:b
index:5, value:c
index:6, value:d
index:7, value:e
index:8, value:f

### Join

Concatanate list contents (or string) into a string.

In [19]:
''.join(l_obj)

'abcdef'

In [20]:
'*'.join(l_obj)

'a*b*c*d*e*f'

In [21]:
' '.join('hello!')

'h e l l o !'

### In

Check if a value exists in a list. Returns a boolean.

In [22]:
print('s' in l_obj)
print('a' in l_obj)

False
True

### Slicing

General Syntax:

```py
list[start:end]

list[:end]

list[start:]

list[start:end:step]

list[start:end:-1] # reverse direction
```

In [23]:
lst = l_obj[:] # copy
lst

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
lst[-4:] # start 4th from end, go to end

['c', 'd', 'e', 'f']

In [25]:
lst[-3::-1] # start 3rd from end, reverse direction

['d', 'c', 'b', 'a']

In [26]:
lst[::-1] # reverse list copy

['f', 'e', 'd', 'c', 'b', 'a']

In [27]:
lst[4] = 42 # re-assign (replace) a single list item
lst

['a', 'b', 'c', 'd', 42, 'f']

In [28]:
lst[1:3] = [3,4,5,6,7,8] # replace multiple list items
lst

['a', 3, 4, 5, 6, 7, 8, 'd', 42, 'f']

### Del

Remove an item(s) from a list given a value(s). Operates **inplace**.

In [29]:
del lst[2]
lst

['a', 3, 5, 6, 7, 8, 'd', 42, 'f']

In [30]:
del lst[5:8] # upto, but not including the last element
lst

['a', 3, 5, 6, 7, 'f']

### Sorted

Takes list as an argument and returns new list. Optional `reverse=True` argument.

Does NOT support string, numerical mix.

In [31]:
try:
    rev_lst = sorted(lst, reverse=True)
except Exception as error:
    print(error)

'<' not supported between instances of 'int' and 'str'

### Zip

Combine two or more lists into a zip obj, which can be converted into a list using the `list` function. 

* Elements are combined element-wise into a list of tuples.

* Length of the list is limited to the length of the shortest list passed to `zip`.

In [32]:
lst1 = list('abcdef')
lst2 = list('1234567890')
lst3 = list('lmnopqrstuvwxyz')
list(zip(lst1, lst2, lst3))

[('a', '1', 'l'),
 ('b', '2', 'm'),
 ('c', '3', 'n'),
 ('d', '4', 'o'),
 ('e', '5', 'p'),
 ('f', '6', 'q')]

### Range

Generate a list of consecutive numbers.

* single argument, starts at 0, returns a range upto but not including the input number.

* define a starting point by using two arguments.

* define a step by passing a third argument.

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(4,12))

[4, 5, 6, 7, 8, 9, 10, 11]

In [35]:
list(range(4,12,3))

[4, 7, 10]

In [36]:
list(range(0,len(lst3),5))

[0, 5, 10]

## List Methods

### Append

Add a single elements to the end of a list, can be any Python datatype.

* takes only a single argument (raises a SyntaxError), returns `None`.

* mutates the list

In [37]:
lst

['a', 3, 5, 6, 7, 'f']

In [38]:
lst.append(list('qrstuv'))
lst.append(list('qrstuv'))
lst

['a',
 3,
 5,
 6,
 7,
 'f',
 ['q', 'r', 's', 't', 'u', 'v'],
 ['q', 'r', 's', 't', 'u', 'v']]

### Count

Count the number of times a particular item is found in the list, otherwise return `0`.

In [39]:
lst.count('r')

0

In [40]:
lst.count(list('qrstuv'))

2

In [41]:
del lst[-2:]
lst

['a', 3, 5, 6, 7, 'f']

### Index

Return the index of 1st occurence of the element, otherwise raise an exception.

In [42]:
lst.append(6)
print(lst)

try:
    print(lst.index(6))
except exception as error:
    print(error)

['a', 3, 5, 6, 7, 'f', 6]
3

In [43]:
try:
    lst.index(9)
except Exception as error:
    print(error)

9 is not in list

### Sort

Sorts list (numerical or alphabetical) **inplace**, returns `None`.

In [44]:
try:
    lst.sort()
except Exception as error:
    print(error)

'<' not supported between instances of 'int' and 'str'

In [45]:
str_lst = list('eArgwqEpjDdnbSeaas')
try:
    print(str_lst.sort())
except Exception as error:
    print(error)
    
print(str_lst)

None
['A', 'D', 'E', 'S', 'a', 'a', 'b', 'd', 'e', 'e', 'g', 'j', 'n', 'p', 'q', 'r', 's', 'w']

### Plus (+)

Concat two or more lists, any length and datatype. Returns a new list.

In [46]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,0]
lst1 + lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [47]:
lst3 = [lst1] + [lst2] # concat 2 nested lists
lst3

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]]

### Insert

Insert an item at a given position, 1st arg is the index, 2nd the item. Operates **inplace**.

In [48]:
lst3.insert(1,list('abcdef'))
lst3

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e', 'f'], [6, 7, 8, 9, 0]]

### Remove

Remove 1st occurrence of an item, raises an exception if the item does not exist. Operates **inplace**, operation returns `None`.

In [49]:
try:
    lst1.remove(6)
except Exception as error:
    print(error)

list.remove(x): x not in list

In [50]:
lst4 = list('abcdecfe')
lst4.remove('e')
lst4

['a', 'b', 'c', 'd', 'c', 'f', 'e']

### Pop

Removes last element if no argument is supplied, otherwise removes item for supplied index. 

Operates **inplace**, returns item.
Raises an exception if the index is out of range.

In [51]:
print(lst4.pop())
lst4

e

['a', 'b', 'c', 'd', 'c', 'f']

In [52]:
print(lst4.pop(4))
lst4

c

['a', 'b', 'c', 'd', 'f']

**Clear** - Removes all items from a list.

**Reverse** - Reverse items in a list, operates **inplace**.

**Copy** - shallow copy a list.

## 3. Loops

**For Loops**

* Iterate over a list, dictionary or other iterable a fixed number of times.

* stop early when a particular condition is met using the `break` keyword.

* skip that iteration when a particular condion is met using the `continue` keyword.

**While Loops**

* used when you don't know how many times you're going to iterate through a loop.

* continues to execute the same block of code until a particular condition is met.

* exit the loop by updating a counter each iteration, or by using `break` to check if a condition has been met.

* Do not use `continue`, you can't skip an iteration, **creates an infinite loop**.

## 4. Strings

* An immutable list of characters.

* can be accessed and sliced like lists (returns a new string).

### In

Check for a particular character in a string, returns a boolean.

In [53]:
'abc' in 'werwerowkjerowpeor pwerj wierj woierj '

False

In [54]:
# find what characters two strings have in common
str1 = 'gergoernerh iuehriureg ebygbeygbeg'
str2 = 'itiurruireyrg yerfrgyurf yufugwgge'
common = []
for i in range(len(str1)):
    for j in range(len(str2)):
        if str1[i] == ' ':
            continue
        if str1[i] == str2[j] and str1[i] not in common:
            common.append(str1[i])
            
common

['g', 'e', 'r', 'i', 'u', 'y']

**upper** - transform all chars to uppercase, returns new str.

**lower** - transform all chars to lower case, returns new string.

**title** - transform 1st char in each word to uppercase, returns new str.

In [55]:
str = 'AbcDEF ghiJKL mnopQRST uvWxYZ'
print(str.upper())
print(str.lower())
print(str.title())
print(str)

ABCDEF GHIJKL MNOPQRST UVWXYZ
abcdef ghijkl mnopqrst uvwxyz
Abcdef Ghijkl Mnopqrst Uvwxyz
AbcDEF ghiJKL mnopQRST uvWxYZ

### Split

Split a string into substrings based on delimeter, otherwise on spaces. Returns new string.

In [56]:
# retrun a list of surnames
authors = '''
Audre Lorde, William Carlos Williams, Gabriela Mistral, 
Jean Toomer, An Qi, Walt Whitman, Shel Silverstein, 
Carmen Boullosa, Kamala Suraiyya, Langston Hughes, 
Adrienne Rich, Nikki Giovanni
'''

names = authors.split(', ')
last_names = [name.split()[-1] for name in names] 
print(last_names)

['Lorde', 'Williams', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

`\n` and `\t` characters can be used as delimiters.

In [57]:
authors.split('\n')

['',
 'Audre Lorde, William Carlos Williams, Gabriela Mistral, ',
 'Jean Toomer, An Qi, Walt Whitman, Shel Silverstein, ',
 'Carmen Boullosa, Kamala Suraiyya, Langston Hughes, ',
 'Adrienne Rich, Nikki Giovanni',
 '']

In [58]:
strs = authors.split('\n')[1:-1]

### Join

Concatenates a list of strings with a given delimiter, returning a new string.

In [59]:
str1 = 'one'
str2 = 'two'
str3 = 'three'
', '.join([str1, str2, str3])

'one, two, three'

### Strip

* by default strips any whitespace from both ends of a string. =

* optionally, will strip one or more characters if passed as an argument.

* returns new string.

In [60]:
lst = [line.strip(', ') for line in strs]
lst

['Audre Lorde, William Carlos Williams, Gabriela Mistral',
 'Jean Toomer, An Qi, Walt Whitman, Shel Silverstein',
 'Carmen Boullosa, Kamala Suraiyya, Langston Hughes',
 'Adrienne Rich, Nikki Giovanni']

In [61]:
# join into a multiline string
ms = '\n'.join(lst)
print(ms)

Audre Lorde, William Carlos Williams, Gabriela Mistral
Jean Toomer, An Qi, Walt Whitman, Shel Silverstein
Carmen Boullosa, Kamala Suraiyya, Langston Hughes
Adrienne Rich, Nikki Giovanni

In [62]:
# split into a list of names
names = []
for line in ms.split('\n'):
    for word in line.split(', '):
          names.append(word)
            
print(len(names))
print(names)

12
['Audre Lorde', 'William Carlos Williams', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']

In [63]:
# alternatively using list comprehension
[word for line in ms.split('\n') for word in line.split(', ')]

['Audre Lorde',
 'William Carlos Williams',
 'Gabriela Mistral',
 'Jean Toomer',
 'An Qi',
 'Walt Whitman',
 'Shel Silverstein',
 'Carmen Boullosa',
 'Kamala Suraiyya',
 'Langston Hughes',
 'Adrienne Rich',
 'Nikki Giovanni']

**replace** - replace all instances of the 1st arg with the 2nd, returns a new string (even if there's no match).

**count** - count the number of times the arg appears in the string, otherwise return `0`.

**find** - retun the index of the 1st instance of the arg, otherwise `-1`.

**index** - like `find`, except raises an exception if match not found.

**startswith/endswith** - return `True` if the string starts/ends with the specified arg, otherwise `False`.

In [64]:
str1 = 'hello world'
str2 = 'hello world'.replace('z', ' ')
str1 is str2

False

In [65]:
str3 = 'hello world'
print(str1 == str3) # same chars
print(str1 is str3) # references point to different objects

True
False

### Format

Implements string interpolation in Python, used as an alternative to concatenation.

In [66]:
alpha = 'alpha'
beta = 'beta'
delta = 'delta'
'a:{a}, b:{b}, d:{d}'.format(a=alpha, b=beta, d=delta)

'a:alpha, b:beta, d:delta'

## Random

**seed** - initialize the generator, otherwise uses system time.

**choice** - returns a random item from the list arg.

**randint** - generates a random number between the 1st and 2nd arg

**shuffle** - shuffle the sequence in place, new obj returned for immutable objs.

**sample** - return x number of items from a sequence.

**random** - return float between 0.0 and 1.0

**uniform** - return a random float between the two supplied args.

In [67]:
import random as r

r.seed(42)

print(r.choice(list('abcdefghijk')))
print(r.choice(range(100)))
print(r.choice([1,2,3,4,5,6,7,8,9]))

print(r.sample(list('abcdefghijk'), 4))
print(r.sample(range(10), 4))

print(r.randint(1,10))
print(r.random())
print(r.uniform(2, 4))

k
14
1
['e', 'd', 'j', 'c']
[1, 8, 9, 4]
7
0.03178267948178359
2.187390479723185

In [68]:
lst = list('abcdefghijk')
r.shuffle(lst)
lst

['c', 'b', 'j', 'h', 'e', 'g', 'f', 'k', 'a', 'i', 'd']

## Dictionaries

* unordered collection of key-value pairs, order is not guaranteed.

* are a means of mapping a 'label' to a piece of 'data'.

* although dicts are mutable, the keys ARE NOT (must be hashable), are either strings or numbers.

* the values can be any Python data type.

### Create a dictionary

In [69]:
dict1 = {'name': 'Tom Jones', 'age': 67, 'occupation': 'Singer'}
print(dict1)

{'name': 'Tom Jones', 'age': 67, 'occupation': 'Singer'}

In [70]:
dict2 = dict(name='Tom Jones', age='67', occupation='Singer')
dict2

{'name': 'Tom Jones', 'age': '67', 'occupation': 'Singer'}

Combining two lists into a dict using a `dict comprehension`. First list arg is used as the keys, the 2nd as the values.

In [71]:
lst1 = list('abcdefgh')
lst2 = [1,2,3,4,5,6,7,8]
{k:v for k, v in zip(lst1, lst2)}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

Alternatively, combine `dict` with `zip`.

In [72]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

### Copy a dictionary

Use `copy`, performs a shallow copy, or pass the dict to `dict` constructor.

In [73]:
d = dict(zip(list('abcdef'), [1,2,3,4,5,6]))
print(d)
e = d.copy()
print(e)
print(d == e)
d is e

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
True

False

### Update a dictionary

Update single properties (or add new one):

In [74]:
dict1['age'] = 72
dict1

{'name': 'Tom Jones', 'age': 72, 'occupation': 'Singer'}

Update multiple properties:

In [75]:
dict1.update({'address': '1 THe House on the Hill, California', 'country': 'USA'})
dict1

{'name': 'Tom Jones',
 'age': 72,
 'occupation': 'Singer',
 'address': '1 THe House on the Hill, California',
 'country': 'USA'}

In [76]:
dict2.update({
    'name': 'Prince', 'age': 52, 'address': 'NPG, Minneapolis', 'country': 'USA'
})
dict2

{'name': 'Prince',
 'age': 52,
 'occupation': 'Singer',
 'address': 'NPG, Minneapolis',
 'country': 'USA'}

### Accessing a Value

Accessing a value, use bracket notation. If kry not present, exception raised.

In [77]:
try:
    dict1['phone']
except Exception as error:
    print('Key not found', error)

Key not found 'phone'

Alternatively, use `get`. exception not thrown, returns `None` if not found. Or pass an error message as an optional 2nd arg.

In [78]:
print(dict1.get('phone'))

None

In [79]:
dict1.get('phone', 'Key not found')

'Key not found'

In [80]:
dict1.get('address')

'1 THe House on the Hill, California'

### Remove a value

Use `pop` passing the key as an arg. y default `pop` raises an exception if the key is not present. Prevented by supplying an error message as an optional 2nd arg.

In [81]:
dict1.pop('phone', 'Key not found')

'Key not found'

In [82]:
dict1.pop('address', 'Key not found')

'1 THe House on the Hill, California'

In [83]:
dict1.get('address', 'Key not found')

'Key not found'

Alternatively use `del` and pass the key as the sole arg. Raises an exception if the key is not present.

In [84]:
try:
    del(dict1['address'])
except Exception as error:
    print('Key not found:', error)

Key not found: 'address'

### Get all keys

Use the `list` constructor to return a list of all the keys.

In [85]:
list(dict1) # return keys

['name', 'age', 'occupation', 'country']

Alternatively, use `keys` to return a `dict_keys` object that can be iterated over.

In [86]:
for k in dict1.keys():
    print('{}: {}'.format(k, dict1[k]))

name: Tom Jones
age: 72
occupation: Singer
country: USA

### Get all values

Use the `values` method to return a `dict_values` obj that can be iterated over.

In [87]:
for v in dict2.values():
    print(v)

Prince
52
Singer
NPG, Minneapolis
USA

Alternatively, pass the `dict_values` object to `list`, returns a list of all values.

In [88]:
list(dict2.values()) # return values

['Prince', 52, 'Singer', 'NPG, Minneapolis', 'USA']

In [89]:
list(dict2) # return keys

['name', 'age', 'occupation', 'address', 'country']

### Get items (keys and values)

Use `items`, returns a `dict_list` obj that can be iterated over.

In [90]:
oscars = {
    "Best Picture": "Moonlight", 
    "Best Actor": "Casey Affleck", 
    "Best Actress": "Emma Stone", 
    "Animated Feature": "Zootopia"
}
for k,v in dict2.items():
    print('{}: {}'.format(k,v))

name: Prince
age: 52
occupation: Singer
address: NPG, Minneapolis
country: USA