# Lists


### Basics

Lists in python are the equivalent of arrays in other languages.

Is a collection which is ordered and mutable, is zero-indexed and can have duplicate members.

Can hold any Python data type, including other lists(nested lists) and multiple data types in the same list.

```py
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]
```
Some list methods, e.g. `sort()` will not work on 'mixed' lists.

Like other languages, you can select elements and assign elements in the list using `bracket notation`

In [1]:
my_strings = ['a', 'b', 'c', 'd']
my_strings[2]

'c'

In [2]:
my_strings[3] = 'e'
my_strings

['a', 'b', 'c', 'e']

However, you CAN NOT use it to append elements to the list, i.e. you **can not** use assignment to add additional elements to a list, use `.append()` instead. Raises the `IndexError` exception

In [3]:
try:
    my_strings[4] = 'f'
except IndexError:
    print('index out of range')

index out of range

We can use negative indices, in which case we start from the 'rear' of the list and count backwards. Lists are `0` indexed, going from `0` to `N - 1`(left to right/front to back), or from `-1` to `-N` going from right to left(back to front), where `N` is the length of the list.

In [4]:
my_strings[-2]

'c'

When iterating over a list, the prefered way is to iterate directly over each element in turn using a `for` loop without an index:

```py
for item in items:
    print(item)
```
Not only do you not have to keep track of an index, but you do not have to worry with it going out of range.

When you need the `index`, use the `enumerate()` method. `enumerate()` is a built-in function that generates a series of value pairs (tuples) of the form `index`, `item`, in which `index` is a running count, and `item` refers to an element.

General syntax:

```py
enumerate(iterable, start=0)
```
`enumerate()` is most often used with a `for` loop, each call to the method yielding an index, item pair. The iterable is usually a collection, string, list, tuple, but may also be a generator. `start` defaults to `0` if left out. Setting a different value changes the starting value of the index produced, **NOT** the values yielded by the iterable.

In [5]:
for i, v in enumerate(['a', 'b', 'c', 'd', 'e'], start=3):
    print('{}:{}'.format(i, v))

3:a
4:b
5:c
6:d
7:e

### Join

We can use `.join()` concatenate a lists contents into a string. Call `.join()` on the string used to concatenate the list items together.

We can create a list with the `*` operator, and convert it to a string using `.join()`.

In [6]:
lst = ['abcd'] * 10
s = ' '.join(lst)
s

'abcd abcd abcd abcd abcd abcd abcd abcd abcd abcd'

### In

You can you use `in` just as you can with strings to check if a value exists within a list. Returns a `boolean`.

In [7]:
strings = ['a', 2, '4', 'g', 5]
'4' in strings

True

In [8]:
'h' in strings

False

### Slicing

We can use the `list[start:end:direction/step]` syntax to slice the list, where:

`start` - the index we want to start the selection

`end` - continue selection upto, but not including the `end` index

`step` - specifies how much the index should increase during iteration, e.g. return every 2nd, 3rd, etc element. Use negative indice to reverse direction and go from back to front.

The original list is unchanged, a **new selection is returned**.

General syntax(upto but not including the end):

```py
list[start:end]

list[:end]

list[start:]

list[start:end:step]
```

In [9]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
chars = letters[2:6]
print(chars)
print(letters)

['c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

If we omit the `start` index, selection starts from index 0.

In [10]:
letters[:3]

['a', 'b', 'c']

If we omit the `end` index, selection goes upto and including the last element

In [11]:
letters[3:]

['d', 'e', 'f', 'g']

We can also start the selection from the 'rear' of the list by using negative indexes

In [12]:
letters[-3:]

['e', 'f', 'g']

In [13]:
letters[:-3]

['a', 'b', 'c', 'd']

In [14]:
# copy a list
lst = letters[:]
letters.append('h')
print(lst)
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [15]:
# create a copy that is reversed
lst2 = letters[::-1]
print(letters)
print(lst2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

Because Python lists are mutable, we can use slicing to specify a target, as well as the source, of an assignment. We can use the technique to **replace** items `d` and `e` with `1,2,3,4,5`.

In [16]:
letters[3:5] = [1,2,3,4,5]
print(letters)

['a', 'b', 'c', 1, 2, 3, 4, 5, 'f', 'g', 'h']

You can use the same technique to **replace** a single element with one, or more elements. The value to the right of the assignment operator **MUST** be an iterable, e.g. list.

In [17]:
letters[4:5] = [99]
print(letters)

['a', 'b', 'c', 1, 99, 3, 4, 5, 'f', 'g', 'h']

## List Methods

These are functions called on the list object itself

## Append

`.append()` will add a **single** element to the end of a list

- could be a **primitive, another list, tuple, set or dictionary**. 
- takes exactly one argument otherwise raises a `TypeError` exception.
- acts **in-place**, i.e. mutates the original list. 
- operation returns `None`.

In [19]:
numbers = [1,2,3,4]
numbers.append(5)
numbers

[1, 2, 3, 4, 5]

In [20]:
lists = [[1,2,3,4]]
result = lists.append([5,6,7])
lists

[[1, 2, 3, 4], [5, 6, 7]]

In [21]:
print(result)

None

### Count

We can use the `count` method to count the number of times a particular item occurs in a list

In [22]:
letters = ['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
letters.count('i')

4

In [23]:
# returns 0 when no match found
letters.count('x')

0

In [24]:
my_numbers = [1,11,2,4,7,23,11,6,456,11,76,22,11,887,64,11]
my_numbers.count(11)

5

In [25]:
my_lists = [[1,2],[3],[2,4,5,6],[1,2],[3],[87,34,56],[1,2],[3],[54,23],[5]]
my_lists.count([1,2])

3

In [26]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 'Jake', 'Laurie', 'Cassie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']
votes.count('Jake')

9

### Index

Return the index of the first occurence of the element, otherwise raise a `ValueError`

In [27]:
nums = [1,2,3,4,5,6,4,7,8]
try:
    print(nums.index(4))
    print(nums.index(9))
except ValueError:
    print('Value not found')

3
Value not found

### Sort

`.sort()` - Sorts lists **in-place** in either numerical or alphabetical order (cannot sort lists with a mix of numbers and strings), it returns `None`.

Can only be used with lists in which every element can be meaningfully compared to every other element in the list.

Check `sorted()` in functions list.

In [28]:
names = ['Aardvark','Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']
names.sort()
names

['Aardvark', 'Angel', 'Biff', 'Buffy', 'Gavin', 'Giles', 'Willow', 'Xander']

In [29]:
my_numbers.sort()
my_numbers

[1, 2, 4, 6, 7, 11, 11, 11, 11, 11, 22, 23, 64, 76, 456, 887]

### Plus (+)

We can combine, or contatenate, two or more **LISTS** using `+` operator(you can not add individual items(use `append()`), place them in a list first).

The lists can be of any length, of any data type.

The operation returns a new list, the orginal list is unchanged.

In [30]:
new_numbers = numbers + [6, 7, 8, 9]
new_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
numbers

[1, 2, 3, 4, 5]

In [32]:
lists + [[8,9,10]]

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [33]:
lists

[[1, 2, 3, 4], [5, 6, 7]]

In [34]:
# combine three lists
newer_numbers = new_numbers + numbers + [11,12,13,14,15]
newer_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

In [35]:
mixed = numbers + ['a', 'b', 'c'] + lists
mixed

[1, 2, 3, 4, 5, 'a', 'b', 'c', [1, 2, 3, 4], [5, 6, 7]]

### Insert

Insert an item at a given position. Takes two args, 1st is the index, 2nd is the item. Operates **in-place**

In [36]:
numbers.insert(2, [2,3,4,5,6])

In [37]:
numbers

[1, 2, [2, 3, 4, 5, 6], 3, 4, 5]

In [38]:
nums = [1,2,3,4,5]
nums.insert(2,5)
nums

[1, 2, 5, 3, 4, 5]

### Remove

Remove an item from that location(the 1st occurence), takes one argument, the actual item you want to remove.

- Raises `ValueError` if the item does not exist.
- Does **NOT** return the value
- Mutatues the list

In [39]:
strings = ['a', 'b', 'c', 'd', 'e', 'f']
try:
    strings.remove(3)
except ValueError:
    print('Item not found')

Item not found

In [40]:
strings.remove('c')
strings

['a', 'b', 'd', 'e', 'f']

In [41]:
value = strings.remove('f')
print(value)

None

**NOTE**

`insert()` - inserts based on the index position.

`remove()` - removes the actual value passed if it exists in the list.

### Pop

Removes the item at the given position. Takes one argument, the index. If no argument is supplied, removes the last element of the list.

The item is returned, the list is mutated

In [42]:
strings = ['a','b', 'c', 'd']
str = strings.pop(1)
print(str)
print(strings)

b
['a', 'c', 'd']

### Clear

Removes all items from the list, returns 'None'

In [43]:
lst = strings.clear()
print(lst)
print(strings)

None
[]

### Reverse

Reverses the elelments of a list in place

In [44]:
strings = ['a', 'b', 'c', 'd', 'e', 'f']
strings.reverse() # in-place
print(strings)

strings = ['a', 'b', 'c', 'd', 'e', 'f']
strs = strings[::-1] # reversed copy
print(strs)
print(strings)

['f', 'e', 'd', 'c', 'b', 'a']
['f', 'e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e', 'f']

### Copy

Create a shallow copy of a list

In [45]:
my_strings = strings.copy()
my_strings.append(9)
print(strings)
print(my_strings)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 9]

Alternatively - use `[:]`

In [46]:
my_copy = my_strings[:]
my_copy.append('e')
print(my_copy)
print(my_strings)

['a', 'b', 'c', 'd', 'e', 'f', 9, 'e']
['a', 'b', 'c', 'd', 'e', 'f', 9]

OR - use the `list()` constructor

In [47]:
my_second_copy = list(my_strings)
my_second_copy.append(11)
print(my_strings)
print(my_second_copy)

['a', 'b', 'c', 'd', 'e', 'f', 9]
['a', 'b', 'c', 'd', 'e', 'f', 9, 11]

## List Functions

These a utility functions provided by the Python language

### Del

Removes the item(s) based on index

- original list is mutated
- remove multiple items in one go
- Interpreter raises an `InvalidSyntax` error if you try to assign the result of `del()` to a variable.

In [48]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
del(lst[-4:-2]) # upto but not including 'g' - same as lst[4:6]
print(lst)

['a', 'b', 'c', 'd', 'g', 'h']

In [49]:
strs = ['a', 'b', 'c', 'd', 'e', 'f']
del(strs[1])
print(strs)
del(strs[3:])
print(strs)

['a', 'c', 'd', 'e', 'f']
['a', 'c', 'd']

### Sorted

Unlike, `sort()`, it takes the list as an argument and returns a **new** list. The original is unchanged. Also. takes two **optional** arguments which must be specified as **keyword arguments**.

- `key` - default is `None`. Specifies a function of one argument that is used to extract a comparison key from each element in the iterable .

- `reverse` - default is `False`, sorts the elements in `Ascending` order.

In [50]:
names_new = ['Aardvark','Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']
sorted(names_new)

['Aardvark', 'Angel', 'Biff', 'Buffy', 'Gavin', 'Giles', 'Willow', 'Xander']

In [51]:
sorted(names_new, reverse=True)

['Xander', 'Willow', 'Giles', 'Gavin', 'Buffy', 'Biff', 'Angel', 'Aardvark']

In [52]:
names_new

['Aardvark', 'Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']

### Zip

Takes two or more lists, and combines these into a single zip object, the elements of which are tuples. Zip takes the first element from each list to create the first tuple, then takes the 2nd element from each list to create the 2nd tuple, and so on. Each tuple contains one element from each of the list inputs. This continues whilst each list has a value to contribute to the tuple, at which point the process stops.

Where lists have different lengths, the resultant 'combined' list will contain as many elements as the length of the smallest list.

The `zip()` function returns the reference to the zip object in memory, which can be converted to a list using `list()` function.

In [53]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']
combined = zip(names, dogs_names)
list(combined)

[('Jenny', 'Elphonse'),
 ('Alexus', 'Dr. Doggy DDS'),
 ('Sam', 'Carter'),
 ('Grace', 'Ralph')]

In [54]:
ages = [2,5,7,8]
combined = zip(names, dogs_names, ages)
list(combined)

[('Jenny', 'Elphonse', 2),
 ('Alexus', 'Dr. Doggy DDS', 5),
 ('Sam', 'Carter', 7),
 ('Grace', 'Ralph', 8)]

In [55]:
# the length of the zip obeject reflects the length of the smallest input list
breeds = ['pit', 'pug']
combined = zip(names, dogs_names, ages, breeds)
list(combined)

[('Jenny', 'Elphonse', 2, 'pit'), ('Alexus', 'Dr. Doggy DDS', 5, 'pug')]

In [56]:
addresses = []
combined = zip(names, dogs_names, addresses)
list(combined)

[]

In [57]:
a, b, c = ['a', 'b', 'c', 'd'], [1,2,3,4,5,6,7,8,9,0], [16,17,18]
lst = zip(a, b, c)
list(lst)

[('a', 1, 16), ('b', 2, 17), ('c', 3, 18)]

### Range

We can create lists of consecutive numbers using the `range()` function, it returns a range object which can be converted to a list using `list()`.

`range()` takes a single argument and generates a list  starting at 0, and going upto but not including the input number.

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can define the starting point by passing two arguments to `range()`

In [59]:
list(range(3, 20))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

By default, each number in the list will be greater than the previous by 1. By passing a 3rd argument, you can define the increment value, e.g. starting at 5, use an increment of 5:

In [60]:
list(range(5, 25, 5))

[5, 10, 15, 20]

General syntax(go up to, but not including the `end`:

```py
range(end)

range(start, end)

range(start, end, step)
```

### Min/Max

Retern the value of the lowest/highest element. Can only be used with lists in which every element can be meaningfully compared to every other element in the list, i.e. a list of all strings or numbers.

### Length

You can get the list length wiht the `len()` funciton. It takes one argument, the list, and returns the number of elements.

In [1]:
def same_values(lst1, lst2):
  combined = list(zip(lst1, lst2))
  print(combined)
  result = []
  i = 0
  for elm in combined:
    if elm[0] == elm[1]:
      result.append(i)
    i += 1
  return result

In [2]:
same_values([1,2,3,4,5], [5,6,7,8,9])

[(1, 5), (2, 6), (3, 7), (4, 8), (5, 9)]

[]

In [3]:
same_values([5, 1, -10, 3, 3], [5, 10, -10, 3, 5])

[(5, 5), (1, 10), (-10, -10), (3, 3), (3, 5)]

[0, 2, 3]

### Modifying list elements with a for loop

In [4]:
 # can't change the list like this
lst = [1,2,3,4,5,6,7,8]
for i in lst:
    i = 0
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
for i, v in enumerate(lst):
    lst[i] = v ** 2
lst

[1, 4, 9, 16, 25, 36, 49, 64]

## References

[List Docs](https://docs.python.org/3/tutorial/datastructures.html)