# List Comprehensions

List comprehensions allow you to iterate over any iterable, e.g. list or dictionary, execute some procedure with/on the iterable element and return a collection of modified elements, e.g. list, dictionary, all in one line of code.

They require the following components:

1. an iterable
2. an iterator variable (represent members of the iterable)
3. output expression(the first part of our list comprehension)

General syntax:

```py
output = [variable for_statement_header]
```

In [1]:
# using a string
[char * 2 for char in 'hello world!']

['hh', 'ee', 'll', 'll', 'oo', '  ', 'ww', 'oo', 'rr', 'll', 'dd', '!!']

In [2]:
# using a list
nums = [1,2,3,4,5,6,7,8]
[num * 2 for num in nums]

[2, 4, 6, 8, 10, 12, 14, 16]

In [3]:
# using a range object
[num * 2 for num in range(1,9)]

[2, 4, 6, 8, 10, 12, 14, 16]

We can also use list comprehensions with nested loops(you can use list comprehension for any number of nested loops).

In [4]:
pairs = []
for i in range(1, 3):
    for j in range(1, 4):
        pairs.append((i, j))
        
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3)]

In [5]:
# using a list comprehension
# we need the output expression followed by the two for loop clauses
[(i, j) for i in range(1,3) for j in range(1,4)]

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3)]

In [1]:
[i * j for i in range(1,3) for j in range(1,4)]

[1, 2, 3, 2, 4, 6]

### Dict Comprehensions

Return a **dictionary**, as apposed to list comprehensions which return lists. We need to surround the comprehension with `{}` and separate the `key` and `value` in the output expression with a `:`.

In [6]:
# we can iterate over a dictionary, returning an amended dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{key:val * 2 for key, val in my_dict.items()}

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [7]:
# we can create a dictionary from a list or range
chars = [12,23,43,45,65,76,87,98,76]
{index:num for index, num in enumerate(chars)}

{0: 12, 1: 23, 2: 43, 3: 45, 4: 65, 5: 76, 6: 87, 7: 98, 8: 76}

In [8]:
{num: num ** 2 for num in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Use list comprehension to create a 2-D matrix

To create the list of lists, you simply have to supply the list comprehension as the output expression of the overall list comprehension, the output expression is itself a list comprehension:

```py
[[output expression] for iterator variable in iterable]
```
1. In the inner list comprehension - that is, the output expression of the nested list comprehension - create a list of values from 0 to 4 using range(). Use col as the iterator variable.

2. In the iterable part of your nested list comprehension, use range() to count 5 rows - that is, create a list of values from 0 to 4. Use row as the iterator variable; note that you won't be needing this to create values in the list of lists.

In [9]:
# use list comprehension to create a 2-D matrix
[[col for col in range(5)] for row in range(5)]

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

### Using List Comprehensions with Conditionals

Useful technique to filter an iterable. We can apply the conditional to the **iterable variable**.

```py
[ output_expression for iterator variable in iterable if predicat_expression ].
```

In [10]:
nums = [23,54,34,76,34,86,32,45,11,21,42,53,64]
[val for val in nums if val > 60]

[76, 86, 64]

In [11]:
[val ** 2 for val in range(20) if val % 2 != 0] # return odd numbers

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

We can apply the conditional to a nested loop

In [6]:
[i * j for i in range(1,3) for j in range(1,4) if not i > j] # check tuples in block 5

[1, 2, 3, 4, 6]

We can also apply the conditional to the **output expression**.

In [12]:
[val ** 2 if val % 2 == 0 else 0 for val in range(20)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 144, 0, 196, 0, 256, 0, 324, 0]

In [13]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
[member for member in fellowship if len(member) >= 7]

['samwise', 'aragorn', 'legolas', 'boromir']

In [14]:
[member if len(member) >= 7 else '' for member in fellowship]

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [15]:
{value: len(value) for value in fellowship}

{'frodo': 5,
 'samwise': 7,
 'merry': 5,
 'aragorn': 7,
 'legolas': 7,
 'boromir': 7,
 'gimli': 5}

### Extract time-stamped data from tweet dataset

In [17]:
import pandas as pd

df = pd.read_csv('tweets.csv')
df.head(2)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

In [19]:
tweet_time = df['created_at']
tweet_time[0:5] # limit to 1st 5 rows

0    Tue Mar 29 23:40:17 +0000 2016
1    Tue Mar 29 23:40:17 +0000 2016
2    Tue Mar 29 23:40:17 +0000 2016
3    Tue Mar 29 23:40:17 +0000 2016
4    Tue Mar 29 23:40:17 +0000 2016
Name: created_at, dtype: object

In [24]:
# DEBUG
for i, entry in enumerate(tweet_time):
    print(entry[11:19])
    if i == 5:
        break

23:40:17
23:40:17
23:40:17
23:40:17
23:40:17
23:40:17

In [27]:
# list comprehension
tweet_clook_time = [entry[11:19] for entry in tweet_time]
print(tweet_clook_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

In [28]:
# only select the times in which entry[17:19] is equal to '19'
tweet_clock_time = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']

# Print the extracted times
print(tweet_clock_time)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']