# Lists


### Basics

Lists in python are the equivalent of arrays in other languages.

Is a collection which is ordered and mutable, is zero-indexed and can have duplicate members.

Can hold any Python data type, including other lists(nested lists) and multiple data types in the same list.

```py
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]
```

Like other languages, you can select elements and assign elements in the list using `bracket notation`

In [48]:
my_strings = ['a', 'b', 'c', 'd']
my_strings[2]

'c'

In [50]:
my_strings[3] = 'e'
my_strings

['a', 'b', 'c', 'e']

However, you CAN NOT use it to append elements to the list. Raises the `IndexError` exception

In [53]:
my_strings[4] = 'f'

IndexError: list assignment index out of range

We can use negative indecies, in which case we start from the 'rear' of the list and count backwards.

In [78]:
my_strings[-2]

'c'

### Slicing

We can use the `list[start:end]` syntax to slice the list, where:

`start` - the index we want to start the selection

`end` - continue selection upto, but not including the `end` index

The original list is unchanged, a new selection is returned

In [56]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
chars = letters[2:6]
chars

['c', 'd', 'e', 'f']

In [57]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

If we omit the `start` index, selection starts from index 0.

In [58]:
letters[:3]

['a', 'b', 'c']

If we omit the `end` index, selection goes upto and including the last element

In [59]:
letters[3:]

['d', 'e', 'f', 'g']

We can also start the selection from the 'rear' of the list by using negative indexes

In [60]:
letters[-3:]

['e', 'f', 'g']

In [61]:
letters[:-3]

['a', 'b', 'c', 'd']

## List Methods

These are functions called on the list object itself

## Append

`.append()` will add a **single** element to the end of a list(could be a primitive value, another list, tuple, set or dictionary), it takes exactly one argument otherwise raises a `TypeError` exception.

It acts in-place, i.e. mutates the original list. The actual method operation returns `None`.

In [22]:
numbers = [1,2,3,4]
numbers.append(5)
numbers

[1, 2, 3, 4, 5]

In [30]:
lists = [[1,2,3,4]]
result = lists.append([5,6,7])
lists

[[1, 2, 3, 4], [5, 6, 7]]

In [31]:
print(result)

None

### Count

We can use the `count` method to count the number of times a particular irem occurs in a list

In [69]:
letters = ['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
letters.count('i')

4

In [70]:
my_numbers = [1,11,2,4,7,23,11,6,456,11,76,22,11,887,64,11]
my_numbers.count(11)

5

In [71]:
my_lists = [[1,2],[3],[2,4,5,6],[1,2],[3],[87,34,56],[1,2],[3],[54,23],[5]]
my_lists.count([1,2])

3

In [65]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 'Jake', 'Laurie', 'Cassie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']
votes.count('Jake')

9

### Sort

`.sort()` - Sorts lists **in-place** in either numerical or alphabetical order, it returns `None`.

Check `sorted()` in functions list

In [75]:
names = ['Aardvark','Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']
names.sort()
names

['Aardvark', 'Angel', 'Biff', 'Buffy', 'Gavin', 'Giles', 'Willow', 'Xander']

In [73]:
my_numbers.sort()
my_numbers

[1, 2, 4, 6, 7, 11, 11, 11, 11, 11, 22, 23, 64, 76, 456, 887]

### Plus(+)

We can combine, or contatenate, two or more **LISTS** using `+` operator(you can not add individual items(use `append()`), place them in a list first).

The lists can be of any length, of any data type.

The operation returns a new list, the orginal list is unchanged.

In [35]:
new_numbers = numbers + [6, 7, 8, 9]
new_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
numbers

[1, 2, 3, 4, 5]

In [33]:
lists + [[8,9,10]]

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [34]:
lists

[[1, 2, 3, 4], [5, 6, 7]]

In [37]:
# combine three lists
newer_numbers = new_numbers + numbers + [11,12,13,14,15]
newer_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

In [38]:
mixed = numbers + ['a', 'b', 'c'] + lists
mixed

[1, 2, 3, 4, 5, 'a', 'b', 'c', [1, 2, 3, 4], [5, 6, 7]]

## List Functions

These a utility functions provided by the Python language

### Sorted

Unlike, `sort()`, it takes the list as an argument and returns a **new** list. The original is unchanged.

In [76]:
names_new = ['Aardvark','Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']
sorted_copy = sorted(names_new)
sorted_copy

['Aardvark', 'Angel', 'Biff', 'Buffy', 'Gavin', 'Giles', 'Willow', 'Xander']

In [77]:
names_new

['Aardvark', 'Xander', 'Biff', 'Buffy', 'Angel', 'Willow', 'Gavin', 'Giles']

### Zip

Takes two or more lists, and combines these into a single zip object, the elements of which are tuples. Zip takes the first element from each list to create the first tuple, then takes the 2nd element from each list to create the 2nd tuple, and so on. Each tuple contains one element from each of the list inputs. This continues whilst each list has a value to contribute to the tuple, at which point the process stops.

Where lists have different lengths, the resultant 'combined' list will contain as many elements as the length of the smallest list.

The `zip()` function returns the reference to the zip object in memory, which can be converted to a list using `list()` function.

In [11]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']
combined = zip(names, dogs_names)
list(combined)

[('Jenny', 'Elphonse'),
 ('Alexus', 'Dr. Doggy DDS'),
 ('Sam', 'Carter'),
 ('Grace', 'Ralph')]

In [10]:
ages = [2,5,7,8]
combined = zip(names, dogs_names, ages)
list(combined)

[('Jenny', 'Elphonse', 2),
 ('Alexus', 'Dr. Doggy DDS', 5),
 ('Sam', 'Carter', 7),
 ('Grace', 'Ralph', 8)]

In [14]:
# the length of the zip obeject reflects the length of the smallest input list
breeds = ['pit', 'pug']
combined = zip(names, dogs_names, ages, breeds)
list(combined)

[('Jenny', 'Elphonse', 2, 'pit'), ('Alexus', 'Dr. Doggy DDS', 5, 'pug')]

In [15]:
addresses = []
combined = zip(names, dogs_names, addresses)
list(combined)

[]

### Range

We can create lists of consecutive numbers using the `range()` function, it returns a range object which can be converted to a list using `list()`.

`range()` takes a single argument and generates a list  starting at 0, and going upto but not including the input number.

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can define the starting point by passing two arguments to `range()`

In [46]:
number_list = list(range(3, 20))
number_list

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

By default, each number in the list will be greater than the previous by 1. By passing a 3rd argument, you can define the increment value, e.g. starting at 5, use an increment of 5:

In [44]:
list(range(5, 25, 5))

[5, 10, 15, 20]

### Length

You can get the list length wiht the `len()` funciton. It takes one argument, the list, and returns the number of elements.

In [79]:
len(number_list)

17