# Iterators

An iterable is anything that returns a steady stream of data, one item at a time. It is most often a collection, e.g. list, dictionary, tuple. It is any object that can have an associated `iter()` method. It is an object that can return an **iterator**. Applying the `iter()` to an iterable creates an **iterator**.

An **iterator** is an object that keeps state and produces the next value when you call `next()` on it. We can pass the iterator to `next()` function to retrieve the values one by one from the iterator object.

Lists, strings, range objects, dictionaries, tuples and file connections are all iterables.

To create an iterator all we have to do is pass an iterable object to the `iter()` function:

In [4]:
my_iter = 'hello' # iterable
it = iter(my_iter) # iterator
next(it)

'h'

In [5]:
# the iterator keeps track of state
next(it)

'e'

Once all items have been returned the iterator throws a `StopIteration` exception.

We can return all items at once using the `splat` or `*` operator.

In [7]:
print(*it) # returned the remaining items

l l o

In [9]:
print(*it) # no more to return, need to create another iterator

In [20]:
lst = ['jay garrick', 'barry allen', 'wally west', 'bart allen']
it_lst = iter(lst)

In [21]:
next(it_lst)

'jay garrick'

`range()` doesn't actually create a list; instead, it creates a range object with an iterator that produces the values until it reaches the limit, e.g. `4` for `range(5)`.

If `range()` created the actual list, calling it with a value of `10 ** 100` may not work, especially since a number as big as that may go over a regular computer's memory.

In [22]:
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
3
4

There are also functions that take iterators as arguments. For example, the `list()` and `sum()` functions return a list and the sum of elements, respectively.

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
sum(range(10))

45

`enumerate()` will take any iterable as an argument and returns an `enumerate` object which consists of a sequence of `tuples`, each consisting of the item and it's corresponding index in the iterable. Passing the `enumerate` object to `list()` returns a list of `tuples`.

In [25]:
avengers = ['Thor', 'Iron Man', 'Spider Man', 'Hulk', 'Black Widow']
en = enumerate(avengers)
list(en)

[(0, 'Thor'),
 (1, 'Iron Man'),
 (2, 'Spider Man'),
 (3, 'Hulk'),
 (4, 'Black Widow')]

The `enumerate` object is itself an iterable and we can unpack it using a `for` loop. Once an iterable has been unpacked, e.g. using `list()`, `for loop` or `*`, you have to re-create it. You can only iterate over it or 'unpack' it once

In [29]:
for index, value in enumerate(avengers):
    print('{i}: {v}'.format(i=index, v=value))

0: Thor
1: Iron Man
2: Spider Man
3: Hulk
4: Black Widow

Default behaviour is to begin indexing at `0`, that can be altered with the `start` keyword

In [32]:
for i, v in enumerate(avengers, start=100):
    print(str(i) + ': ' + v)

100: Thor
101: Iron Man
102: Spider Man
103: Hulk
104: Black Widow

`zip()` will allows us to 'stitch' together an arbitrary number of iterables and returns an iterator(zip object) of `tuples`.

Each corresponding item in each iterable is combined together to give a tuple.

In [34]:
avengers = ['Thor', 'Iron Man', 'Spider Man', 'Hulk', 'Black Widow', 'Doc Strange']
names = ['Odin Son', 'Tony Stark', 'Peter Parker', 'Bruce Banner', 'Nat Ramonov', 'Steven Strange']
alive = [True, True, False, True, True, False]
z = zip(avengers, names, alive)
type(z)

zip

In [35]:
list(z)

[('Thor', 'Odin Son', True),
 ('Iron Man', 'Tony Stark', True),
 ('Spider Man', 'Peter Parker', False),
 ('Hulk', 'Bruce Banner', True),
 ('Black Widow', 'Nat Ramonov', True),
 ('Doc Strange', 'Steven Strange', False)]

We can unpack the `zip` object with a `for` loop or the `splat` operator

In [37]:
for avenger, name, live in zip(avengers, names, alive):
    print('{a}, {n}, {l}'.format(a=avenger, n=name, l=live))

Thor, Odin Son, True
Iron Man, Tony Stark, True
Spider Man, Peter Parker, False
Hulk, Bruce Banner, True
Black Widow, Nat Ramonov, True
Doc Strange, Steven Strange, False

The `splat` or `*` operator unpacks an iterable such as a list or a tuple into positional arguments in a function call.

In [39]:
z = zip(avengers, names, alive)
print(*z)

('Thor', 'Odin Son', True) ('Iron Man', 'Tony Stark', True) ('Spider Man', 'Peter Parker', False) ('Hulk', 'Bruce Banner', True) ('Black Widow', 'Nat Ramonov', True) ('Doc Strange', 'Steven Strange', False)

You can 'unzip' a `zip` object using `*` in combination with the `zip()` function.

In [44]:
avengers = ['Thor', 'Iron Man', 'Spider Man', 'Hulk', 'Black Widow', 'Doc Strange']
names = ['Odin Son', 'Tony Stark', 'Peter Parker', 'Bruce Banner', 'Nat Ramonov', 'Steven Strange']
alive = [True, True, False, True, True, False]
z = zip(avengers, names, alive)
a, n, l = zip(*z)
print(a)
print(n)
print(l)

('Thor', 'Iron Man', 'Spider Man', 'Hulk', 'Black Widow', 'Doc Strange')
('Odin Son', 'Tony Stark', 'Peter Parker', 'Bruce Banner', 'Nat Ramonov', 'Steven Strange')
(True, True, False, True, True, False)