# SQLAlchemy Basics

SQLAlchemy provides a common interface to many different relational databases, such as MySQl, Oracle, PostgrSql, etc.

It consists of two main pieces:

* the Core (Relational Model)
* ORM (User Data Model - data models and classes created by the developer).

To connect to a database, we need to instantiate an engine using the SQLAlchemy `create_engine` function passing it the connection string (dbase type and path). the engine provides the common interface to the database.

In [1]:
from sqlalchemy import create_engine

# connection string --> 'driver:///path/to/database'
engine = create_engine('sqlite:///../data/sqlalchemy/census.sqlite')

Once we have an engine, we can connect to the engine.

In [2]:
connection = engine.connect()
engine.table_names()

['census', 'state_fact']

SQLAlchemy can be used to automatically load tables from a database using `reflection`. Reflection is the process of reading the database and building the metadata based on that information, enabling the working with existing databases. 

To perform reflection, you need to import the `Table` object from the SQLAlchemy package. Then, use the `Table` object to read the table from the engine and autoload the columns. 

To autoload the columns with the engine, you have to specify the keyword arguments `autoload=True` and `autoload_with=engine` to `Table()`.

`Table` takes four arguments:

* 1st, name of the table as a string
* 2nd, metadata object, container object that keeps together different features of the database.
* 3rd and 4th,  `autoload` and `autoload_with` arguments.

In [3]:
from sqlalchemy import Table, MetaData

metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)

# display census table metadata
repr(census)

"Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)"

We can access the tables columns through the `columns` attribute, and retrieve a list of column names using the `keys()` method.

In [4]:
census.columns.keys()

['state', 'sex', 'age', 'pop2000', 'pop2008']

We can use the `metadata` container to find out more details about the reflected table such as the columns and their types. Table objects are stored in the `metadata.tables` dictionary, so you can get the metadata of your census table with `metadata.tables['census']` (similar to result of `repr()` function.

In [5]:
metadata.tables

immutabledict({'census': Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)})

In [6]:
metadata.tables['census']

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

We can see that the `census` table has five columns (`state`, `sex`, `age`, `pop2000` and `pop2008`) and their datatypes.

## Querying the database

We can execute sql queries using the `execute` method, takes the sql query string as an argument and returns a proxy object, which can be used in a variety of ways to retrieve the data.

In [7]:
result_proxy = connection.execute("SELECT * FROM census WHERE state = 'Florida'")
result_proxy

We can retrieve the result set using the `fetchall()` method.

In [8]:
result_set = result_proxy.fetchall()

# returns a list of tuple, 172
result_set[:5]

[('Florida', 'M', 0, 96891, 118845),
 ('Florida', 'M', 1, 96241, 118562),
 ('Florida', 'M', 2, 95962, 117764),
 ('Florida', 'M', 3, 97571, 115442),
 ('Florida', 'M', 4, 98921, 113414)]

Instead of writing sql queries (which can vary between implementations), we can use the `select` function which takes a list of the tables or columns required as the sole argument.

In [9]:
from sqlalchemy import select

query = select([census])
print(query)

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census

In [10]:
result_set = connection.execute(query).fetchall()
len(result_set)

8772

We can retrive row(s) using slices. With individual rows we can retrieve the column values using the column names.

In [11]:
result_set[0]['state']

'Illinois'

In [12]:
result_set[10]['pop2008']

86565

## Connecting to a remote PostgreSql database

## References

[SQLAlchemy Expressions](https://docs.sqlalchemy.org/en/latest/core/sqlelement.html#module-sqlalchemy.sql.expression)  
[Psycopg PostgreSql driver](http://initd.org/psycopg/)  
[Connecting to Databases](https://docs.sqlalchemy.org/en/latest/core/engines.html)

When connecting to a PostgreSQL database, many prefer to use the `psycopg2` database driver as it supports practically all of PostgreSQL's features efficiently and is the standard dialect for PostgreSQL in SQLAlchemy.

**NOTE**:

There are three components to the connection string we'll use: the dialect and driver (`'postgresql+psycopg2://'`), followed by the username and password (`'student:datacamp'`), followed by the host and port ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'), and finally, the database name (`'census'`). Pass this string as an argument to `create_engine()` in order to connect to the database.

In [13]:
from sqlalchemy import create_engine

dialect_and_driver = 'postgresql+psycopg2://'
username_password = 'student:datacamp'
host = '@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'
dbase = 'census'

conn_string = f'{dialect_and_driver}{username_password}{host}{dbase}'

print(conn_string)

postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census

Instantiate the connection and list the tables.

In [15]:
engine = create_engine(conn_string)
connection = engine.connect()

engine.table_names()

['census',
 'state_fact',
 'vrska',
 'census1',
 'data',
 'data1',
 'employees3',
 'users',
 'employees',
 'employees_2']

Having connected, we can now query the database. We can filter queries using the `where()` clause, e.g. select all records from the `census` table where `state` is 'New York'.

First create the `Table` object, followed by our `select` query.

In [16]:
from sqlalchemy import Table, MetaData, select

census = Table('census', MetaData(), autoload=True, autoload_with=engine)
query = select([census]).where(census.columns.state == 'New York')

Execute the query on the connection object and iterate over the results set.

In [17]:
try:
    results = connection.execute(query).fetchall()
    for result in results:
        print(result)
except Exception as error:
    print(error)

(psycopg2.ProgrammingError) permission denied for relation census
 [SQL: 'SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008 \nFROM census \nWHERE census.state = %(state_1)s'] [parameters: {'state_1': 'New York'}] (Background on this error at: http://sqlalche.me/e/f405)

### Create Tables

In [ ]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
metadata.create_all(engine)

* `Column` object takes a name, a SQLAlchemy type with an optional format (e.g. setting the max length to 255 in this example), and optional keyword arguments for different constraints.  

* we can use **constraints** to make sure that a column is unique, nullable, a positive value, or related to a column in another table.

*  you can also set a default value for the column if no data is passed to it via the `default` keyword on the column.

In [ ]:
data = Table('data', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

### Inserting data into a table

Use the `insert` function, takes the table as an arg and the values as a series of `column=value` pairs passed to `values` clause, to build a result statement which is passed to `connection.execute()` function - returning a proxy.  this inserts one row.

In [ ]:
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the statement via the connection: results
results = connection.execute(stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(connection.execute(stmt).first())

To insert multiple records we want to first build a list of dictionaries that represents the data you want to insert. Then, in the `.execute()` method, you can pair this list of dictionaries with an insert statement, which will insert all the records in your list of dictionaries.

In [ ]:
# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data)

# Execute stmt with the values_list: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

### Loading a CSV file into a Table

In [ ]:
# Create a insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = []
total_rowcount = 0

# Enumerate the rows of csv_reader
# each row: ['Illinois', 'M', '0', '89600', '95012']
# 
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3], 'pop2008': row[4]}
    values_list.append(data)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = []

# Print total rowcount
print(total_rowcount)

### Update a table

Using the `update` function, takes an additional `where` clause to indicate which rows will be updated. Only supply the values for the fields that you want to change.

We could update all employees wages witht he following statement:

In [ ]:
stmt = update(employees).values(wage=100.00)

Changing individual records:

In [ ]:
# Build a statement to select all columns from the state_fact table 
# where the name column is New York. Call it select_stmt.
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# Print the results of executing the select_stmt and fetching all records.
print(connection.execute(select_stmt).fetchall())

# Build an update statement to change the fips_state column code to 36, save it as stmt.
stmt = update(state_fact).values(fips_state = 36)

# Use a where clause to filter for states with the name of 'New York' in the state_fact table.
stmt = stmt.where(state_fact.columns.name == 'New York')

# Execute stmt via the connection and save the output as results.
results = connection.execute(stmt)

# print the rowcount of the results and the results of executing select_stmt. 
# This will verify the fips_state code is now 36.
print(results.rowcount)

# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())

**Updating multiple records at once**

In [ ]:
# Build an update statement to update the notes column in 
# the state_fact table to 'The Wild West'. Save it as stmt
stmt = update(state_fact).values(notes='The Wild West')

# Use a where clause to filter for records that have 'West' in 
# the census_region_name column of the state_fact table.
stmt = stmt.where(state_fact.columns.census_region_name == 'West')

# Execute stmt via the connection and save the output as results.
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

**Correlated Update**

You can also update records with data from a select statement. This is called a correlated update. It works by defining a select statement that returns the value you want to update the record with and assigning that as the value in an update statement.

In [ ]:
# Build a statement to select the name column from state_fact. Save the statement as fips_stmt.
fips_stmt = select([state_fact.columns.name])

# Append a where clause to fips_stmt that matches fips_state from 
# the state_fact table with fips_code in the flat_census table.
fips_stmt = fips_stmt.where(
    state_fact.columns.fips_state == flat_census.columns.fips_code)

# Build an update statement to set the state_name in flat_census 
# to fips_stmt. Save the statement as update_stmt.
update_stmt = update(flat_census).values(state_name=fips_stmt)

# Execute update_stmt: results
results = connection.execute(update_stmt)

# Print rowcount
print(results.rowcount)

**Deleting all records**

Often, you'll need to empty a table of all of its records so you can reload the data. You can do this with a delete statement with just the table as an argument:

In [ ]:
delete_stmt = delete(extra_employees)
result_proxy = connection.execute(delete_stmt)

In [ ]:
# Import delete, select
from sqlalchemy import delete, select

# Build a delete statement to remove all the data from the census table. Save it as stmt.
stmt = delete(census)

# Execute stmt via the connection and save the results
results = connection.execute(stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table
stmt = select([census])

# Print the results of executing the statement to verify there are no rows
print(connection.execute(stmt).fetchall())

**Deleting a specific record**

By using a where() clause, you can target the delete statement to remove only certain records.

In [ ]:
delete(employees).where(employees.columns.id == 3)

In [ ]:
# Build a statement to count records using the sex column for Men ('M') age 36: stmt
stmt = select([func.count(census.columns.sex)]).where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(stmt).scalar()

# Build a statement to delete records from the census table: stmt_del
stmt_del = delete(census)

# Append a where clause to target Men ('M') age 36
stmt_del = stmt_del.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(stmt_del)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)
# => 51, 51

**Delete an entire table**

We can drop individual tables from a database with the `.drop()` method, as well as all tables in a database with the `.drop_all()` method!

Remember, you can check to see if a table exists with the `.exists()` method.

In [ ]:
# Drop the state_fact table by applying the method .drop() 
# to it and passing it the argument engine
state_fact.drop(engine)

# Check to see if state_fact exists via print. Use the .exists() 
# method with engine as the argument.
print(state_fact.exists(engine))

# Drop all the tables via the metadata using the .drop_all() method.
metadata.drop_all(engine)

# Check to see if census exists
print(census.exists(engine))

### Putting it all Together

**1. Create the database engine and initialize the metadata**

In [ ]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

# Create an engine to the chapter 5 database by using 
# 'sqlite:///chapter5.sqlite' as the connection string.
engine = create_engine('sqlite:///chapter5.sqlite')

# Initialize MetaData: metadata
metadata = MetaData()

**2. Create a Table**

In [ ]:
# Import Table, Column, String, and Integer
from sqlalchemy import Table, Column, String, Integer

# Define a census table with the following columns:
# 'state' - String - length of 30
# 'sex' - String - length of 1
# 'age' - Integer
# 'pop2000' - Integer
# 'pop2008' - Integer

census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()))

# Create the table in the database
metadata.create_all(engine)

**3. Populate the Table from CSV File**

Read the csv one reacord at a time using a loop, turining each row into a dictionary which is appended to a values list. This is in turn inserted into the table.

In [ ]:
# Create an empty list: values_list
values_list = []

# Iterate over the rows of csv_reader with a for loop, creating a dictionary 
# called data for each row and append it to values_list.
for row in csv_reader:
    # Create a dictionary with the values
    data = {'state': row[0], 'sex': row[1], 'age':row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    # Append the dictionary to the values list
    values_list.append(data)

In [ ]:
# Import insert
from sqlalchemy import insert

# Build an insert statement for the census table.
stmt = insert(census)

# Execute the statement stmt along with values_list. 
# You will need to pass them both as arguments to connection.execute().
results = connection.execute(stmt, values_list)

# Print the rowcount attribute of results
print(results.rowcount)

**4. Query the database - determine average age by population**

In [ ]:
# Import select
from sqlalchemy import select

# Build a statement to:
# Select sex from the census table.
# Select the average age weighted by the population in 2008 (pop2008). 
# Label this average age calculation as 'average_age'.
stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2008 * census.columns.age) /
                func.sum(census.columns.pop2008)).label('average_age')
               ])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Loop over results and print the sex and average_age for each record.
for row in results:
    print(row['sex'], row['average_age'])

**Query the database - determine the % population by gender and state**

In [ ]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, Float, cast

# Define a statement to select state and the percentage of females in 2000.
# Inside func.sum(), use case() to select females (using the sex column) from pop2000. 
# Remember to specify else_=0 if the sex is not 'F'.
# To get the percentage, divide the number of females in the year 2000 by the overall 
# population in 2000. Cast the divisor - census.columns.pop2000 - to Float before multiplying by 100
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print state and percent_female for each record
for result in results:
    print(result.state, result.percent_female)

**Query the database - Determine the Difference by State from the 2000 and 2008 Censuses**

In [ ]:
# Build a statement to:
# Select state.
# Calculate the difference in population between 2008 (pop2008) and 2000 (pop2000).
stmt = select([census.columns.state,
     (census.columns.pop2008 - census.columns.pop2000).label('pop_change')
])

# Group the query by census.columns.state using the .group_by() method on stmt.
stmt = stmt.group_by(census.columns.state)

# Order by 'pop_change' in descending order using the .order_by() 
# method with the desc() function on 'pop_change'.
stmt = stmt.order_by(desc('pop_change'))

# Limit the query to the top 10 states using the .limit() method
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))